<div class="container-fluid navigationlor">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="brand d-none d-sm-block" (click)="homepage()" style="cursor: pointer;">
      <a class="navbar-brand">
        <!-- <img src="" width="30" height="30" class="d-inline-block align-top" alt=""> -->
        Laptop On Rent</a>
    </div>
    <button class="navbar-toggler">
      <span class="navbar-toggler-icon" data-toggle="collapse" data-target="#menuC">
      </span>
    </button>
    <div class="searchInline" style="border-radius: 9px;">
      <form [formGroup]="fg">
        <mat-form-field class="search-bar" color="white" style="color:black;" appearance="outline"
          [floatLabel]="always">

          <input type="search" [matAutocomplete]="auto" matInput placeholder="Search laptops"
            formControlName="searchText" id="searchBar" aria-label="Search">
          <button mat-icon-button matSuffix class="btn btn-light" type="button" (click)="search()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>

        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let user of (searchResults | async)?.result" [value]="user.Product"
            (click)="goToProduct2(user)">
            <span>{{user.Company}}-{{ user.Product }}</span>

          </mat-option>
        </mat-autocomplete>
      </form>
    </div>
    <div class="collapse navbar-collapse align-self-end" id="menu">
      <ul class="navbar-nav ml-auto">
        <li class="navbar-item lor-menus">
          <a class="nav-link" id="notification"><i class="fas fa-bell fa" style='font-size:24px' data-toggle="tooltip"
              title="Notifications"></i></a>
        </li>
        <li class="navbar-item lor-menus">
          <a class="nav-link" (click)="cart()">
            <mat-icon matBadge={{cartCount}} matBadgeColor="warn" style='font-size:24px' data-toggle="tooltip"
              title="Cart">shopping_cart
            </mat-icon>
          </a>
        </li>
        <li class="nav-item dropdown lor-menus">
          <a class="nav-link dropdown-toggle btn" id="profileDropDown" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false"><i class="fas fa-user" data-toggle="tooltip" title="Profile"
              style='font-size:24px'></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="profileDropDown">
            <a *ngIf="loginShow" class="dropdown-item" (click)="login()">Sign In</a>
            <!-- <a *ngIf="loginShow" class="dropdown-item"  (click)="register()">Register</a> -->
            <a *ngIf="!loginShow" class="dropdown-item" (click)="order()">Order</a>
            <a *ngIf="!loginShow && adminShow" class="dropdown-item" (click)="admin()">Admin</a>
            <a *ngIf="!loginShow" class="dropdown-item" (click)="userProfile()">User Profile</a>
            <a *ngIf="!loginShow" class="dropdown-item" (click)="logout()">Log out</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="d-sm-none">
      <div class="collapse navbar-collapse align-self-end" id="menuC">
        <ul class="navbar-nav ml-auto" style="padding-left: 19px;">
          <li class="navbar-item lor-menuC">
            <a *ngIf="loginShow" class="nav-link" (click)="login()">Sign In</a>
          </li>
          <li class="navbar-item lor-menuC">
            <a class="nav-link" (click)="cart()">Cart
              <span class="badge badge-danger">{{cartCount}}</span>
            </a>
          </li>
          <li class="navbar-item lor-menuC">
            <a class="nav-link" class="nav-link" (click)="homepage()">Home</a>
          </li>
          <li class="navbar-item lor-menuC">
            <a *ngIf="!loginShow" class="nav-link" (click)="order()">Order</a>
          </li>
          <li class="navbar-item lor-menuC">
            <a *ngIf="!loginShow && adminShow" class="nav-link" (click)="admin()">Admin</a>
          </li>
          <li class="navbar-item lor-menuC">
            <a *ngIf="!loginShow" class="nav-link" (click)="userProfile()">User Profile</a>
          </li>
          <li class="navbar-item lor-menuC">
            <a *ngIf="!loginShow" class="nav-link" (click)="logout()">Log out</a>
          </li>
          <!-- <li class="nav-item dropdown lor-menuCD">
            <a class="nav-link dropdown-toggle btn lor-menuCDA" id="profileDropDown" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Profile</a>
            <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="profileDropDown">
              <a class="dropdown-item" (click)="login()">My account</a>
              <a class="dropdown-item" (click)="register()">Register</a>
              <a class="dropdown-item" (click)="admin()">Admin</a>
              <a class="dropdown-item" (click)="order()">Order</a>

            <a *ngIf="loginShow" class="dropdown-item" (click)="login()">Sign In</a>
            <a *ngIf="loginShow" class="dropdown-item"  (click)="register()">Register</a>
            <a *ngIf="!loginShow" class="dropdown-item" (click)="order()">Order</a>
            <a *ngIf="!loginShow && adminShow" class="dropdown-item" (click)="admin()">Admin</a>
            <a *ngIf="!loginShow" class="dropdown-item" (click)="userProfile()">User Profile</a>
            <a  class="dropdown-item" (click)="logout()">Log out</a>
            </div>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>
</div>
<!--Article title: Angular Parent to Child and Child to Parent communication from router-outlet; 
  Author: https://medium.com/@sujeeshdl -->
<router-outlet (activate)="onActivate($event)"></router-outlet>