.navigationlor {
    padding: 0px;
}

@media only screen and (min-width: 768px) {
    .searchInline, .searchInputGroup, .searchFormControl {
        /* width: 80%; */
        margin-left: 25%;
    }
}

@media only screen and (max-width: 767px) {
    .searchInline, .searchInputGroup, .searchFormControl {
        /* width: 80%; */
        margin-left: 1%;
    }
}

@media only screen and (max-width: 320px) {
    .searchInline, .searchInputGroup, .searchFormControl {
        width: 75%;
        margin-left: 1%;
    }
}

.lor-menus {
    margin-left: 2px;
}
.lor-menuCDA
{
text-align: left;
    margin: 0;
    float: none;
}

@media only screen and (max-width: 600px) {
    .search-bar {
      width: 200px;
    }
  }
  @media only screen and (min-width: 770px) {
    .search-bar {
      width: 600px;
    }
}

@media only screen and (width:1024){
    .search-bar{
        width: 200px;
    }
}
 
::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix{
    /* background-color: white; */
    padding: 0 0 1em 0;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline::after{
    /* background-color: white; */
   color:white;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex{
    background-color: white;
    padding: 2px;
    /* padding-top:1px ; */
    border-radius: 9px;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper{
    padding-bottom: 0px;
}