<div class="row" style="margin:0;padding: 5%;">
    <div class="col-md-3">

    </div>
    <div class="col-md-6 center-text">
        <h1>Choose your action</h1>
    </div>
    <div class="col-md-3">

    </div>
</div>

<div class="row" style="margin:0;padding: 5%;background-color: #c0c0c0;">
    <div class="col-sm-4 col-md-4">

        <mat-card  (click)="manageUser()"  style="cursor: pointer;height: 100%;">
            <mat-card-header>
                <mat-card-title>Manage Users</mat-card-title>

            </mat-card-header>
            <div class="row">
                <div class="col-md-1 col-sm-1">

                </div>
                <div class="col-md-10 col-sm-10">
                    <img mat-card-image src="./assets/users.png" alt="Photo of a Shiba Inu"
                        style="height:100%;width: 100%;">
                </div>
                <div class="col-md-1 col-sm-1">

                </div>

            </div>
            <mat-card-content>
                <p>
                    Search,View,Block and update users
                </p>
            </mat-card-content>
            
        </mat-card>
    </div>
    <div class="col-sm-4  col-md-4">
        <mat-card  style="height: 100%;">
            <mat-card-header>
                <mat-card-title>Manage Laptops</mat-card-title>

            </mat-card-header>
            <div class="row">
                <div class="col-md-1 col-sm-1">

                </div>
                <div class="col-md-10 col-sm-1">
                    <img mat-card-image src="./assets/laptopicon.png" alt="Photo of a Shiba Inu"
                        style="height:100%;width: 100%;">
                </div>
                <div class="col-md-1 col-sm-1">

                </div>

            </div>
            <mat-card-content>
                <p>
                    Search,View,Edit and Update users
                </p>
            </mat-card-content>

        </mat-card>
    </div>
    <div class="col-sm-4 col-md-4">
        <mat-card style="cursor: pointer;height: 100%;" (click)="addProduct()">
            <mat-card-header>
                <mat-card-title>Add Laptops</mat-card-title>

            </mat-card-header>
            <div class="row">
                <div class="col-md-1 col-sm-1">

                </div>
                <div class="col-md-10 col-sm-1">
                    <img mat-card-image src="./assets/addIcon.png" alt="Photo of a Shiba Inu"
                        style="height:100%;width: 100%;">
                </div>
                <div class="col-md-1 col-sm-1">

                </div>

            </div>
            <mat-card-content>
                <p>
                    Add a new laptop
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- <div class="col-md-2">

    </div> -->
</div>