<!-- <div class="modal-content"> -->
<div class="row">
    <div class="modal-header">
        <div class="col-md-10 sm-12">
            <label class="modal-title" id="exampleModalLongTitle">Review product page</label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <!-- <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button> -->
        </div>
    </div>
</div>
<div class="row">
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label> Rate the product: </label>

                <!--Below component obtained from Biophoton Github repository-->
                <app-star-rating [rating]="rating" [starCount]="starCount" [color]="starColor"
                    (ratingUpdated)="onRatingChanged($event)"></app-star-rating>
            </div>
            <div class="form-group">
                <label for="reviewTextArea">Write review</label>
                <textarea class="form-control" id="reviewTextArea" rows="3" [(ngModel)]="review" #re="ngModel" [ngModelOptions]="{standalone: true}" required></textarea>
            </div>
            <div *ngIf="(reviewError && re.invalid)||(re.invalid &&( re.dirty || re.touched))"
                class="alert alert-danger">
                <div *ngIf="re.errors.required" style="font-size:x-small">
                  Review required
                </div>
  
              </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="submit()">Submit</button>
</div>
<!-- </div> -->