#vert {
    border-right: 0.5px dotted black;
    
   
  }
  table {
    width: 100%;
  }

  .example-container > * {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto 
  }
  .small-form-input{
    width: 10%;
     
  }
 