<div class="container py-5">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-lg-6  col-xl-6 mx-auto">
            <div class="card rounded-2">

                <div class="card-header">
                    <div class="row">
                        <div class="col col-lg-6 col-md-6 col-sm-6">
                            <h5 class="mb-0">Profile Details</h5>
                        </div>
                        <div class="col col-md-6 col-sm-6">
                            <button type="submit" (click)="onSubmit()" *ngIf="edit" class="btn btn-dark btn-sm"
                                id="btnEdit">Edit</button>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <form class="customForm needs-validation" [formGroup]="profileForm" id="profileForm" novalidate>
                        <div class="form-group col-md col-sm">
                            <span class="a-text-bold">
                                First Name
                            </span>
                            <input type="text" name=firstname class="form-control" id="fname" placeholder="Mike"
                                formControlName="firstname">
                        </div>

                        <div class="form-group col-md col-sm">
                            <span class="a-text-bold">
                                Last Name
                            </span>
                            <input type="text" name=lastname class="form-control" id="lname" formControlName="lastname">

                            <div *ngIf="(profileForm.get('lastname').invalid && onInit) ||
                                 (profileForm.get('lastname').invalid && (profileForm.get('lastname').dirty ||
                                    profileForm.get('lastname').touched))" class="alert alert-danger">
                                <div *ngIf="profileForm.get('lastname').errors.required">
                                    Please provide Last Name
                                </div>
                                <div *ngIf="profileForm.get('lastname').errors.maxlength">
                                    Name cannot be more than 30 characters long.
                                </div>
                                <div *ngIf="profileForm.get('lastname').errors.minlength">
                                    Name must be at least 2 characters long.
                                </div>
                            </div>



                        </div>

                        <div class="form-group col-md col-sm">
                            <span class="a-text-bold">
                                E-Mail
                            </span>
                            <input type="email" name="username" id="username" class="form-control"
                                formControlName="username">
                            <!--  <div *ngIf="registrationForm.get('username').invalid && onInit"
                                    class="alert alert-danger">
                                    <div *ngIf="registrationForm.get('username').errors.required">
                                        Please provide Email address
                                    </div>
                                </div> -->

                        </div>
                        <div class="form-group col-md col-sm">
                            <span class="a-text-bold">
                                Password
                            </span>
                            <input type="password" name="password" id="password" placeholder="*********"
                                class="form-control" formControlName="password">

                        </div>

                        <div class="form-group col-md col-sm">
                            <span class="a-text-bold">
                                Address
                            </span>
                            <input type="text" id="address" formControlName="address" class="form-control">
                            <div *ngIf="(profileForm.get('address').invalid && onInit) ||
                                (profileForm.get('address').invalid && (profileForm.get('address').dirty ||
                                   profileForm.get('address').touched))" class="alert alert-danger">
                                <div *ngIf="profileForm.get('address').errors.required">
                                    Address cannot be empty
                                </div>
                            </div>


                        </div>

                        <div class="form-group col-md col-sm">
                            <span class="a-text-bold">
                                Address2
                            </span>
                            <input type="text" id="address1" formControlName="address2" class="form-control">

                            <!-- <div *ngIf="(profileForm.get('address2').invalid && onInit) ||
                                (profileForm.get('address2').invalid && (profileForm.get('address2').dirty ||
                                   profileForm.get('address2').touched))" class="alert alert-danger">
                                <div *ngIf="profileForm.get('address2').errors.required">
                                    Address cannot be empty
                                </div>
                            </div> -->


                        </div>

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xl-12">
                            <label for="mobileNumber">Mobile Number</label>
                            <input type="tel" id="phoneNumber" placeholder="Mobile Number " minlength="7" maxlength="10"
                                class="form-control" formControlName="phoneNumber">

                            <div *ngIf="(profileForm.get('phoneNumber').invalid && onInit) ||
                                (profileForm.get('phoneNumber').invalid && (profileForm.get('phoneNumber').dirty ||
                                   profileForm.get('phoneNumber').touched))" class="alert alert-danger">
                                <div *ngIf="profileForm.get('phoneNumber').errors.required">
                                    Mobile Number cannot be empty
                                </div>
                            </div>


                        </div>


                        <div class="row">
                            <div class="form-group col-sm-5 col-md-5">
                                <span class="a-text-bold">
                                    City
                                </span>
                                <input type="text" class="form-control" id="city" formControlName="city">
                            </div>
                            <div class="form-group col-sm-4 col-md-4">
                                <span class="a-text-bold">State</span>
                                <select id="inputState" class="form-control" formControlName="state">
                                    <option selected>NS</option>
                                    <option>AB</option>
                                    <option>BC</option>
                                    <option>MB</option>
                                    <option>NL</option>
                                    <option>NT</option>
                                    <option>NS</option>
                                    <option>NU</option>
                                    <option>ON</option>
                                    <option>PE</option>
                                    <option>QC</option>
                                    <option>SK</option>
                                    <option>YT</option>
                                </select>

                            </div>
                            <div class="col-md-3 col-sm-3">
                                <span class="a-text-bold">ZIP</span>
                                <input text="text" class="form-control" id="zip" formControlName="zip">
                            </div>
                        </div>

                    </form>
                    <button type="button" *ngIf="save" (click)="onSave()" class="btnSave btn-dark btn-sm"
                        id="save">Save</button>
                </div>

            </div>
        </div>
    </div>
</div>