<h6 mat-dialog-title>Please select product details</h6>
<div mat-dialog-content>
    
<div class="row">
  <div class="col">
  <mat-form-field >
    <input matInput [min]="startDate" id="startdate" [(ngModel)]="startDateModel" name="startdate"
      #startdate="ngModel" [matDatepicker]="picker" (dateChange)="addStartEvent('change', $event)" placeholder="From date" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker [startAt]="startDate"></mat-datepicker>
  </mat-form-field>
  <div
    *ngIf="(startDateError && startdate.invalid)||(startdate.invalid &&( startdate.dirty || startdate.touched))"
    class="alert alert-danger">
    <div *ngIf="startdate.errors.required" style="font-size:x-small">
      From Date required
    </div>
  </div>
</div>

<div class="col">
  <mat-form-field >
    <input matInput [min]="endDate" id="enddate" [(ngModel)]="endDateModel" name="enddate"
      #enddate="ngModel" [matDatepicker]="picker2" (dateChange)="addEndEvent('change', $event)" placeholder="To date" required>
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>
  <div *ngIf="(endDateError && enddate.invalid)||(enddate.invalid &&( enddate.dirty || enddate.touched))"
    class="alert alert-danger">
    <div *ngIf="enddate.errors.required" style="font-size:x-small">
      To Date required
    </div>
  </div>
</div>
</div>
<div class="row">
  <div class="col">
  <mat-form-field>
    
    <mat-label>Software (Optional)</mat-label>
    <mat-select [formControl]="toppings" multiple>
        <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}
        </mat-option>
    </mat-select>
</mat-form-field>
</div>

<div class="col">
<mat-form-field  >
  <mat-label>Quantity</mat-label>
  <mat-select [formControl]="quantities" id="quantity" required>
    <mat-option *ngFor="let quantity of quantityList" [value]="quantity">{{quantity}}
    </mat-option>
</mat-select>
  
</mat-form-field>
</div>
</div>  




      
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">cancel</button>
  <button mat-button (click)="addToCart()" cdkFocusInitial>Add Item</button>
</div>