
<div class=container-fluid>
  
<div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search user">
    </mat-form-field>
</div>
<div class="example-container mat-elevation-z8">
<mat-table [dataSource]="dataSource">
<ng-container matColumnDef="id">
<mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
<mat-cell *matCellDef="let row"> {{row.uId}} </mat-cell>

</ng-container>
<ng-container matColumnDef="name">
<mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
<mat-cell *matCellDef="let row"> 
    <!-- <mat-form-field floatLabel="never">
        <input matInput placeholder="Name" [value]="row.firstName" [(ngModel)]="row.firstName" disabled>
        </mat-form-field>     -->
      {{row.firstName}} {{row.lastName}}
 </mat-cell>
</ng-container>
<ng-container matColumnDef="email">
  <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
  <mat-cell *matCellDef="let row"> 
    {{row.email}}
   </mat-cell>
  </ng-container>
<ng-container matColumnDef="userStatus">
<mat-header-cell *matHeaderCellDef mat-sort-header> unlock/Lock </mat-header-cell>
<mat-cell *matCellDef="let row"><mat-slide-toggle [checked]="row.isLocked" (click)="lock(row)"></mat-slide-toggle></mat-cell>
</ng-container>
<ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
    <mat-cell *matCellDef="let row"><button mat-raised-button data-toggle="modal" data-target="#exampleModal" disabled>Future functionalities</button>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="reviewFormTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h6 class="modal-title" id="exampleModalLongTitle">Save user details</h6>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form>
                  <div class="form-group">
                  <h6>Do you want to proceed with the changes</h6> 
                </div>
                </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
                </div>
              </div>
            </div>
          </div>    
    </mat-cell>
  </ng-container>
<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
<mat-row *matRowDef="let row; columns: displayedColumns;">
</mat-row>
</mat-table>
</div>
<!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->
</div>
