<div class="jumbotron" style="background-color: white;">
    <h5 class="display-6"><img src="./assets/images/success.png" style="width: 50px;height: 50px;"> Order Placed
        Successfully!</h5>
    <p class="lead">Your order# {{orderId}} is successfully placed and will be delivered to you by {{datesche}}.</p>
    <hr class="my-4">
    <p>Order date {{datesche}}</p>
    <p>Order total CAD$ {{totalPrice}}</p>

    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
        aria-expanded="false" aria-controls="collapseExample">
        Order details
    </button>
    <div class="collapse" id="collapseExample">
        <br>
        <div class="card card-body">

            <div class="row">
                <div class="col col-sm-6">
                    <h5>Order Information</h5>
                    <div class="card" >
                        <div class="row" style="margin:10px;" *ngFor = "let el of orderItems">
                            <div class="col">
                                <img class="card-img-top" src="{{el.productImg}}" alt="Card image cap">
                            </div>
                            <div class="col">
                                <div class="card-body"> 
                                    <h5 class="card-title">{{el.Product}}</h5>
                                    <p class="card-text">{{el.Company}}.</p>
                                    <p class="card-text">Quantity: {{el.quantity}}</p>

                                    <p class="card-text">Softwares opted: {{el.softwares}}</p>


                                </div>
                            </div>

                        </div>
                        <h5 style="margin: 10px;"> Order Summary</h5>

                        <div class="row" style="margin:10px;">
                            <div class="col" style="float: left;">
                                <p>Product cost</p>
                                <p>Tax</p>
                                <p>Security Deposit</p>
                                <p><b>Order total</b></p>
                            </div>
                            <div class="col" style="float: right;">
                                <p>CAD$ {{price}}.</p>
                                <p>CAD$ {{tax}}</p>
                                <p>{{securityPrice}}</p>
                                <p><b>CAD$ {{totalPrice}}</b></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-sm-6">
                    <br>
                    <h5>Payment Details</h5>

                    <div class="row">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">Payment Method</h6>
                                <h6 class="card-subtitle " style="color: green;">Credit</h6>
                                <br>
                                <h6 class="card-title">Paid using:</h6>
                                <h6>{{payObj}}</h6>

                            </div>
                        </div>
                    </div>
                    <br>
                    <h5>Shipment Details</h5>

                    <div class="row">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">Scheduled Delivery:</h6>
                                <h6 class="card-subtitle " style="color: green;">{{datesche}}</h6>
                                <br>
                                <h6 class="card-title">Deliver to:</h6>
                                <h6>{{addrObj.firstname}} {{addrObj.lastname}}</h6>
                                <h6 class="card-subtitle mb-2 text-muted ">{{addrObj.addressLine1}}</h6>
                                <h6 class="card-subtitle mb-2 text-muted ">{{addrObj.city}}, {{addrObj.state}}</h6>
                                <h6 class="card-subtitle mb-2 text-muted ">Canada {{addrObj.postcode}}</h6>

                            </div>
                        </div>

                </div>
            </div>
        </div>



    </div>
</div>

<hr>
<!-- <div>
    <h5>Looking for more options?</h5>

    <div class="container">
        <div class="row">
          <div class="col-sm" style="margin: 10px;" *ngFor="let prom of promotions">
            <div class="card" style="width: 18rem;">
                       
                <button mat-button matTooltip="onClick navigates to product page"><img class="card-img-top" src="./assets/images/1.jpg" alt="Card image cap"/></button>
                <div class="card-body">
                    <button mat-button matTooltip="onClick navigates to product page"><h5 class="card-title">{{prom.Company}}</h5></button>
                    <p class="card-text">{{prom.Product}}</p>
                    <button  class="btn btn-dark" style="float:right;margin-right: 2px;" (click)="addToCartFromExplore(prom)">Add to Cart</button>
                </div>
              </div>          </div>
        </div>
      </div>
</div> -->
</div>