<!-- razor.jpg - https://pisces.bbystatic.com/image2/BestBuy_US/images/products/6172/6172318cv1d.jpg 
     msi.jpg - https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToICrmjjaJDd6OPyWudvyKw3s59SLxyjw2L98GnVyW8s6CVJj2&s
     mac book.jpg - https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwiCvr67zrHnAhX6lHIEHS4iADoQjRx6BAgBEAQ&url=https%3A%2F%2Fwww.amazon.ca%2Fi-Blason-MacBook-Release-Rubberized-Bumper%2Fdp%2FB01M8O9OSE&psig=AOvVaw0wghlIEceVyuvuQVDsV_Q_&ust=1580689778244889-->


<br>
<br>
<div class="">

    <mat-accordion class="example-headers-align" multi=true>
        <mat-expansion-panel [expanded]="expand" style="background-color: rgb(228, 228, 228);" (opened)="setStep(0)">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Filter<mat-icon>filter_list</mat-icon>
                </mat-panel-title>
                <mat-panel-description>
                    {{selectedProcessorName}} {{selectedRamName}} {{selectedMemoryName}} {{selectedResolutionName}}
                    {{selectedCompanyName}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row">
                <div class="col-md-2">
                    processor
                    <form [formGroup]="processorForm">
                        <div class="row">
                            <mat-checkbox [formControl]=processorForm.controls.processors.controls[0]>i7</mat-checkbox>
                        </div>
                        <div class="row">
                            <mat-checkbox [formControl]=processorForm.controls.processors.controls[1]>i5</mat-checkbox>
                        </div>

                        <div class="row">
                            <mat-checkbox [formControl]=processorForm.controls.processors.controls[2]>i3</mat-checkbox>
                        </div>

                        <div class="row">
                            <mat-checkbox [formControl]=processorForm.controls.processors.controls[3]>DUAL CORE
                            </mat-checkbox>
                        </div>
                    </form>
                </div>
                <div class="col-md-2">
                    RAM
                    <form [formGroup]="ramForm">
                        <div class="row">
                            <mat-checkbox [formControl]=ramForm.controls.rams.controls[0]>4 GB</mat-checkbox>
                        </div>
                        <div class="row">
                            <mat-checkbox [formControl]=ramForm.controls.rams.controls[1]>8 GB</mat-checkbox>
                        </div>

                        <div class="row">
                            <mat-checkbox [formControl]=ramForm.controls.rams.controls[2]>16 GB</mat-checkbox>
                        </div>
                    </form>

                </div>
                <div class="col-md-2">
                    Memory
                    <div class="row">
                        <mat-checkbox [formControl]=memoryForm.controls.memory.controls[0]>256 GB</mat-checkbox>
                    </div>
                    <div class="row">
                        <mat-checkbox [formControl]=memoryForm.controls.memory.controls[1]>512 GB</mat-checkbox>
                    </div>

                    <div class="row">
                        <mat-checkbox [formControl]=memoryForm.controls.memory.controls[2]>1 TB</mat-checkbox>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="col-md-2">
                        Resolution
                        <div class="row">
                            <mat-checkbox [formControl]=resolutionForm.controls.resolutions.controls[0]>720P
                            </mat-checkbox>
                        </div>
                        <div class="row">
                            <mat-checkbox [formControl]=resolutionForm.controls.resolutions.controls[1]>1080P
                            </mat-checkbox>
                        </div>

                        <div class="row">
                            <mat-checkbox [formControl]=resolutionForm.controls.resolutions.controls[2]>4K
                            </mat-checkbox>
                        </div>
                    </div>

                </div>

                <div class="col-md-2">
                    Company
                    <div class="row">
                        <mat-checkbox [formControl]=companyForm.controls.company.controls[0]>Apple</mat-checkbox>
                    </div>
                    <div class="row">
                        <mat-checkbox [formControl]=companyForm.controls.company.controls[1]>Dell</mat-checkbox>
                    </div>

                    <div class="row">
                        <mat-checkbox [formControl]=companyForm.controls.company.controls[2]>Lenovo</mat-checkbox>
                    </div>
                </div>

            </div>
            <mat-action-row>
                <button mat-raised-button color="accent" (click)="search(0)">SEARCH</button>
            </mat-action-row>
        </mat-expansion-panel>

    </mat-accordion>
    <mat-paginator [length]="count" [pageSize]="10" (page)="pageEvent = getPaginatorData($event)">
    </mat-paginator>
    <div style="margin:0;border:1px solid grey">
        <div *ngFor="let product of products" class="row" style="margin:0;border:1px thin grey">
            <div class="col-sm-2 col-md-2" style="padding: 1%;cursor: pointer; " (click)="goProduct(product.productID)">
                <img src={{product.productImg}} class="imageresponse" alt="Photo of a Shiba Inu" style="height:150px;width: 100%;">
            </div>

            <div class="col-sm-3 col-md-3" style="padding: 5% ;">
                <div class="row">
                    {{product.Company}}
                </div>
                <div class="row">
                    {{product.Product}}
                </div>
            </div>
            <div class="col-sm-6 col-md-6" style="padding: 5%;">
                <div class="row">
                    {{product.Cpu}}, {{product.Gpu}}, {{product.Ram}}, {{product.Memory}}
                </div>
                <div class="row">
                    {{product.Inches}}''{{product.ScreenResolution}} screen
                </div>

            </div>

            <div class="col-sm-1 col-md-1" style="padding:3%;">
                <div class="row">
                    <button class="quantity" mat-icon-button matTooltip="ADD TO CART" (click)="addToCartFromExplore(product)">
                        <mat-icon>add_shopping_cart</mat-icon>
                    </button>
                </div>
                <div class="row">
                    <button class="quantity" mat-icon-button matTooltip="More details about the  prcduct" (click)="goProduct(product.productID)">
                        <!-- <mat-icon>add_shopping_cart</mat-icon> -->
                        Details
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>